#contact-form {
    width: 50%;
}

@media only screen and (max-width: 1700px) {
    #contact-form {
        width: 75%;
    }
}

@media only screen and (max-width: 1500px) {
    #contact-form {
        width: 100%;
    }
}